@import "../../sass/variables";

#logo {
  max-width: 58px;
}

#main-menu {
  border: none;
  box-shadow: none;
  border-radius: unset;
  margin: auto 0;

  @include md {
    margin: auto;
    border: 3px solid $black;
    box-shadow: 0 10px 0 $black;
    border-radius: 40px;
  }

  > img {
    padding: 30px;
    margin-bottom: 50px;
  }

  div:has(> button) {
    display: flex;
    flex-direction: column;
    width: 100%;

    gap: 30px;
  }
}
