@import "../../sass/_typography";
@import "../../sass/variables";

#pause-dialog {
  position: fixed;
  inset: 0;
  height: fit-content;

  h1 {
    @include heading-l;
    text-align: center;
    padding: 30px;
    margin-bottom: 50px;
    color: white;
  }

  div:has(> button) {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: inherit;
    text-align: center;
  }
}
