@import "../../sass/_typography";
@import "../../sass/_mixins";
@import "../../sass/_variables";

body nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  @include lg {
    max-width: 632px;
    align-self: center;
  }
}

nav > button {
  @include heading-xs;
}

nav > #logo {
  position: absolute;
  width: 40px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  @include md {
    width: 52px;
  }
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;

  @include lg {
    display: flex;
    margin: 0 auto;
    align-items: center;
    gap: 60px;
  }
}

.score-board {
  @include border-shadow;
  padding: 10px 35px;
  background-color: $white;
  position: relative;
  width: 100%;
  max-width: fit-content;

  @include lg {
    padding: 46px 28px 17px 28px !important;
    width: fit-content;
  }
}

.score-board:nth-of-type(1) {
  @include md {
    padding: 15px 20px 15px 43px;
  }
}

.score-board:nth-of-type(2) {
  @include md {
    padding: 15px 43px 15px 20px;
  }
}

.score-board > div:has(.player-name):has(.score) {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include md {
    gap: 20px;
    justify-content: space-around;
    &:first-of-type {
      flex-direction: row;
    }
    &:last-of-type {
      flex-direction: row-reverse;
    }
  }

  @include lg {
    margin: auto;
    display: flex;
    flex-direction: column !important;
    width: fit-content;
  }
}

.player-name {
  width: max-content;
  @include heading-xs;

  @include md {
    @include heading-s;
  }
}

.score {
  font-weight: 700;
  font-size: 32px;
  line-height: 41px;

  @include md {
    @include heading-l;
  }
}

:is(#player-one-icon, #player-two-icon) {
  position: absolute;
  inset: 0;
  margin: auto;

  &:is(#player-one-icon) {
    right: unset;
    transform: translateX(-50%);
  }

  &:is(#player-two-icon) {
    left: unset;
    transform: translateX(50%);
  }

  @include lg {
    inset: 0 !important;
    bottom: unset !important;
    transform: translateY(-50%) !important;
  }
}

#game-board {
  order: 1;
  grid-column: span 2;
  position: relative;
  width: 335px;
  height: 310px;

  @include md {
    width: 632px;
    height: 584px;
  }

  @include lg {
    order: unset;
  }
}

#game-board > * {
  position: absolute;
}

#game-board > picture:nth-of-type(1) {
  z-index: 2;
}

#game-board > div#virtual-board {
  z-index: 1;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(7, 1fr);
  box-sizing: border-box;

  padding: 10.62px 10.6px 32px 10.6px;

  @include md {
    padding: 20px 20px 60px 20px;
  }
}

#game-board > div#virtual-board > .board-column {
  grid-template-rows: repeat(6, 1fr);
}

:is(.board-column, #game-board > div#virtual-board) {
  display: grid;
  gap: 12.72px;
  @include md {
    gap: 24px;
  }
}

#game-board > picture:nth-of-type(2) {
  z-index: 0;
}
