@import "../sass/_typography";
@import "../sass/_mixins";
@import "../sass/_variables";

body {
  background-color: $purple-light;
}

.App {
  height: 100dvh;
  min-width: 375px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 50px 20px;
  gap: 50px;

  @include md {
    margin: 30px auto;
    padding: 0 68px;
  }

  @include lg {
    padding: 40px auto;
    margin: 0 auto;
  }
}
