@import "../sass/typography";
@import "../sass/mixins";
@import "../sass/variables";

body nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @include lg {
    align-self: center;
    max-width: 632px;
  }
}

nav > button {
  @include heading-xs;
}

nav > #logo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  transform: translate(-50%, -50%);

  @include md {
    width: 52px;
  }
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 50px;

  @include md {
    gap: 32px;
  }

  @include lg {
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 60px;
  }
}