@import "../sass/typography";
@import "../sass/variables";

#pause-dialog {
  position: fixed;
  z-index: 999;
  height: fit-content;
  inset: 0;

  h1 {
    @include heading-l;
    margin-bottom: 50px;
    padding: 30px;
    text-align: center;
    color: white;
  }

  div:has(> button) {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    gap: 30px;
  }
}
