@import "../sass/typography";
@import "../sass/variables";

#rule-dialog {
  position: fixed;
  height: fit-content;
  background-color: $white;
  inset: 0;

  h1 {
    @include heading-l;
    text-align: center;
  }

  h2 {
    @include heading-m;
    margin-bottom: 12px;
    color: $purple-light;
  }

  div:has(> section) {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    gap: 30px;
  }

  ol {
    display: flex;
    flex-direction: column;
    list-style-position: inside;
    list-style-type: decimal;
    gap: 10px;

    li {
      padding-left: 4px;
    }
  }

  img[role="button"] {
    position: absolute;
    transform: translate(-50%, 50%);
    inset: auto 50% 0 50%;

    &:hover {
      cursor: pointer;
    }
  }

  @include p-normal;
}
