@import "../sass/variables";
@import "../sass/mixins";
@import "../sass/typography";

.score-board {
  @include border-shadow;
  position: relative;
  width: 100%;
  max-width: fit-content;
  padding: 10px 35px;
  background-color: $white;

  > .score-info {
    display: flex;
    align-items: center;
    flex-direction: column;

    @include md {
      justify-content: space-around;
      gap: 20px;
    }

    @include lg {
      width: fit-content;
      margin: auto;
    }
  }

  .player-name {
    width: max-content;
    @include heading-xs;

    @include md {
      @include heading-s;
    }
  }

  .score {
    font-size: 32px;
    font-weight: 700;
    line-height: 41px;

    @include md {
      @include heading-l;
    }
  }

  .player-icon {
    position: absolute;
    margin: auto;
  }

  &#one {
    @include md {
      padding: 15px 20px 15px 43px;

      > .score-info {
        flex-direction: row;
      }
    }

    .player-icon {
      transform: translateX(-50%);
      inset: 0 auto 0 0;
    }
  }

  &#two {
    @include md {
      padding: 15px 43px 15px 20px;

      > .score-info {
        flex-direction: row-reverse;
      }
    }

    .player-icon {
      transform: translateX(50%);
      inset: 0 0 0 auto;
    }
  }

  &#one, &#two {
    @include lg {
      width: fit-content;
      padding: 46px 28px 17px 28px;
      .player-icon {
        transform: translate(-50%, -50%);
        inset: 0 50% auto 50%;
      }
      > .score-info {
        flex-direction: column;
      }
    }
  }
}