@import "../_variables";
@import "../_typography";
@import "../_mixins";

button {
  @include heading-m;
  @include border-shadow;

  color: $black;
  background-color: $white;

  &:hover {
    cursor: pointer;
    border: 3px solid $purple-dark;
    box-shadow: 0 10px 0 $purple-dark;
  }

  &:is(.pinkBtn) {
    color: $white;
    background-color: $pink;
  }

  &:is(.yellowBtn) {
    background-color: $yellow;
  }
}

button.toolBtn {
  @include heading-s;
  width: fit-content;
  padding: 10px 20px;
  color: $white;

  border: none;

  border-radius: 20px;
  background-color: $purple-dark;
  box-shadow: none;

  &:hover {
    background-color: $pink;
  }
}

button.menuBtn {
  @include heading-xs;
}

button.iconBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  container-type: inline-size;

  :not(img) {
    white-space: nowrap;
  }
}

@container (max-width: 320px) {
  button.iconBtn > img {
    display: none;
  }
}
