@import "../../sass/_typography";
@import "../../sass/variables";

#rule-dialog {
  position: fixed;
  inset: 0;
  height: fit-content;
  background-color: $white;

  h1 {
    @include heading-l;
    text-align: center;
  }

  h2 {
    @include heading-m;
    color: $purple-light;
    margin-bottom: 12px;
  }

  div:has(> section) {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 10px;
  }

  ol {
    list-style-type: decimal;
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    gap: 10px;

    li {
      padding-left: 4px;
    }
  }

  button {
    border-radius: 100%;
    padding: 0;
    position: absolute;
    bottom: calc(height/2);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
  }

  @include p-normal;
}
